<html>
    <head>
        <title>Form</title>
    </head>    
    <body>
        <form action="/data" method="post">
            <input type = "text" name='Enter the Process' placeholder="Enter the Process" required='required'/>
            <input type = "text" name='Enter the Activity' placeholder="Enter the Activity" required='required'/>
            <input type = "text" name='Enter the Environmental Aspect' placeholder="Describe Environmental Aspect" required='required'/>
            <input type = "text" name='Enter the Environmental Impact' placeholder="Describe Environmental Impact" required='required'/>
            <input type = "number" name='Please enter Frequency range from 1 to 5' placeholder="Frequency" required='required'/>
            <input type = "number" name='Please enter Environmental_Impact range from 1 to 5' placeholder="Environmental_Impact" required='required'/>
            <input type = "number" name='Please enter Regulatory range from 1 to 5' placeholder="Regulatory" required='required'/>
            <input type = "number" name='Please enter Stakeholders_Concern range from 1 to 5' placeholder="Stakeholders_Concern" required='required'/>
            <button type ='submit'>Predict</button>
        </form>
    </body>
</html>

